VITE_FIREBASE_API_KEY=AIzaSyBYSEEv9boLaqNgnNxgvaZ3sD9lnzbL15c
VITE_FIREBASE_AUTH_DOMAIN=sv-infra-dc6df.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sv-infra-dc6df
VITE_FIREBASE_STORAGE_BUCKET=sv-infra-dc6df.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=557574542199
VITE_FIREBASE_APP_ID=1:557574542199:web:78920a06eec81666bac772

VITE_CLOUDINARY_CLOUD_NAME=dp8bfdbab
VITE_CLOUDINARY_UPLOAD_PRESET=cryptchat
VITE_CLOUDINARY_API_KEY=337739287121541

# Fixed Admin Credentials
VITE_ADMIN_EMAIL=admin@svinfra.com
VITE_ADMIN_PASSWORD=admin123